@import "utils";

.resources {
	position: relative;

	* {
		box-sizing: border-box;
	}

	h1 {
		padding: 25px 0 15px;
	}

	& > .header-actions {
		position: absolute;
		top: 30px;
		right: 0;
		z-index: 10;
	}

	.container {
		display: block;
		max-width: 100%;

		& > section {
			display: block;

			&:not(:last-child) {
				margin-bottom: 30px;
			}

			header {
				@include flexContainer();
				align-items: center;

				hr {
					flex-grow: 1;
					margin: 0 0 0 10px;
				}
			}
		}

		&.edit-resource {
			padding-left: 0;
			padding-right: 0;
		}
	}
}